<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I'm Jawad Nassar, self proclaimed geek, fascinated by the Web and slowly becoming a developer.</p>
    <p>
      I've been studying and writing code for many years and still love and enjoy every minute of it.
    </p>
	<p>I'll be blogging about any experiment, tutorial or project that I'll find interesting to share.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
