---
layout: default
---

<main>
  <article class="h-entry">
    <header class="page-header">
      <div class="page-title p-name">{{ page.title }}</div>
      <div class="page-meta">
        <time class="dt-published" datetime='{{ page.date | date: "%F" }}'>{{ page.date | date: "%F" }}</time>
      </div>
    </header>
    <div class="e-content">
      <p>{{ content }}</p>
    </div>
  </article>
  <p>
    <a href="/">← Back</a>
  </p>
</main>

<script data-goatcounter="https://jawad.goatcounter.com/count" async src="{{ site.url }}/js/gc.js"></script>
<img src="https://jawad.goatcounter.com/count?p=/pixel-{{  page.title | slugify }}">
