
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Jawad Nassar's Blog and Personal Website">
    <meta name="author" content="Jawad Nassar">
    <link rel="icon" href="/img/favicon.ico">

    <title>{{ page.title }}</title>

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="{{ page.home }}"><a href="/index.html"><strong>HOME</strong></a></li>
            <li role="presentation" class="{{ page.blog }}"><a href="/blog"><strong>BLOG</strong></a></li>
            <li role="presentation" class="{{ page.contact }}"><a href="/contact"><strong>CONTACT</strong></a></li>
          </ul>
        </nav>
        <h3 class="text-muted">JAWAD NASSAR</h3>
      </div>
	

     <div class="row marketing">
    		{{ content }}
		</div>


      <footer class="footer">
        <p>&copy; 2015 Jawad Nassar.<br />Subscribe via <a href="/blog/atom.xml" target="_blank">RSS</a>. <br />Design and code are open source: <a href="https://github.com/jawadnassar/jawadnassar.github.io" target="_blank">fork me</a>.
		</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
